body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.game {
    width: 600px;
    height: 200px;
    border: 2px solid #000;
    margin: auto;
    background-color: white;
    position: relative;
    overflow: hidden;
}

#dino {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% { bottom: 0; }
    50% { bottom: 80px; }
    100% { bottom: 0; }
}

#cactus {
    width: 20px;
    height: 40px;
    background-color: green;
    position: absolute;
    bottom: 0;
    right: -20px;
    animation: cactusMove 2s infinite linear;
}


@keyframes cactusMove {
    from {
        right: -20px;
    }
    to {
        right: 600px;
    }
}
